$NombreDelSistema: "/sisdna-web"; //nombre del aplicativo. este campo no debe cambiar
$TamanioAnchoPaginaMinimo: initial; //ancho de pagina minimo(actual:1340px). Se puede colocar initial para el responsive
$TamanioAltoPaginaMinimo: 100%; //alto de pagina minimo afecta al fondo
$TamanioAnchoCustomSteps: 19.8%; //ancho de los botones del control steps
$TamanioBaseLetraAntiguo: 12px; //afecta a todos los controles primefaces
$TamanioBaseLetra: 0.8vw; //afecta a todos los controles primefaces



