body {
    margin:0px !important;
    height: 100%;
    min-height: 100%;
}
//propiedades del layout
.ui-layout-unit-content {
    background: none !important;
    padding: 0px !important;
}
.ui-layout-unit {
    background: none !important;
    padding: 0px !important;
}
.ui-layout-north, .ui-layout-south {
    border: none !important;
}
.ui-layout-resizer-north {
    z-index: initial !important;
}
//tamano del content
#content {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
