html {
 /*   background-image: url(#{$NombreDelSistema}/resources/imagen/fondo.jpg);*/
background-size: 100% 100%;
background-repeat: no-repeat;
min-width: $TamanioAnchoPaginaMinimo;
min-height: $TamanioAltoPaginaMinimo;
}