.loginform {
    width: 100%;
    max-width: 658px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: white;
    img {
        width: 100%;
        max-width: 225px;
    }
    label,button, input {
        font-size: 19px !important;
    }
}