@media screen and (max-width: 560px) {
    .user, .pimgverticalmiddle {
        display: none !important;
    }
    .logosistema1 {
        display: none !important;
    }
    .logosistema2 {
        width: 95% !important;
    }
    .ui-steps .ui-steps-item {
        width: 95% !important;
    }
    button {
        width: 100% !important;
    }
    .ui-datatable-data button {
        width: initial !important;
        min-width: 25px !important;
    }
    .vjs-big-play-button{
        width:100px !important;
    }
}