.ui-menu {
    border:0px !important;
    padding:0px 0px 0px 2px !important;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4) !important;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4) !important;
    background: #A52E2E; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A52E2E', endColorstr='#7D2323') !important; /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#A52E2E), to(#7D2323)) !important; /* for webkit browsers */
    background: -moz-linear-gradient(top,  #A52E2E,  #7D2323) !important; /* for firefox 3.6+ */
    background: linear-gradient(to bottom,  #A52E2E 0%,#7D2323 100%) !important; /* modern browsers */
    border-top-right-radius: 0px !important;
}
.ui-menu span {
    font-weight: bold;
    color: #e7e5e5 !important;
    font-size: 12px !important;
}
.ui-menu a{
    border-radius:0px !important;
    border:0px !important;
    padding: 0.6em !important;
}
.ui-icon-triangle-1-s {
    background-image: url("#{$NombreDelSistema}/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-home") !important;
}
.ui-menu li > ul span {
    color: #444 !important;
}
.ui-menu li > ul > li .ui-state-hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#ADADAD') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#ADADAD)) !important;
    background: -moz-linear-gradient(top, #cfcfcf, #ADADAD) !important;
    background: linear-gradient(to bottom,  #cfcfcf 0%,#ADADAD 100%) !important; /* modern browsers */
    text-shadow: none !important;
}
.ui-menu .ui-state-hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)) !important;
    background: -moz-linear-gradient(top, #ebebeb, #a1a1a1) !important;
    background: linear-gradient(to bottom,  #ebebeb 0%,#a1a1a1 100%) !important; /* modern browsers */
    color: #444 !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2) ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
.ui-menu .ui-state-hover span{
    color: black !important;
}
.ui-menu .ui-state-hover .ui-icon-triangle-1-s{
    background-image: url("#{$NombreDelSistema}/faces/javax.faces.resource/images/ui-icons_222222_256x240.png?ln=primefaces-home") !important;
}
.ui-menu button {
    margin-top: 2px;
}
.ui-menu .ui-state-hover span:hover {
    color: #444 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8) !important;
}
//arreglo de los botones del menu cuando se usa el layout
#north {z-index:2 !important; }
#north div{overflow:visible;}
.ui-menu-child {
    margin-top: -5px !important;
}
.ui-menu-list {
    padding: 2px !important;
}
.ui-menubar .ui-menu-child .ui-menuitem-link {
    width: 90% !important;
}