// ESPACIADO BOTON DE ACCIONES
span.ui-button-text.ui-c {
    min-width: 0px !important;
    min-height: 10px !important;
}
// GRID ROW
.ui-grid .ui-grid-row {
    /*margin-bottom: 4px !important;*/
}
.ui-grid-col-12 {
    overflow: hidden;
}
// ACCORDION
.ui-accordion .ui-accordion-content  {
    border:  1px solid #A8A8A8 !important;
    margin-bottom: 10px !important;
}
// DIALOG
.ui-dialog-content {
    overflow-x: hidden !important;
}
// GROWL 
.ui-growl-item-container {
    position: relative !important;
    margin: 0 0 10px 0 !important;
    opacity: 0.85 !important;
    filter: alpha(opacity=85) !important;
    border: 1px solid #666666 !important;
    background: #aaaaaa !important;
    background: #aaaaaa linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0)) !important;
    background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0))) !important;
    background: #aaaaaa -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0)) !important;
    color: #ffffff !important;
    text-shadow: 1px 1px 1px #333333 !important;
}
//BOTON DE X EN GROWL
.ui-state-highlight .ui-icon {
    background-image: url("#{$NombreDelSistema}/faces/javax.faces.resource/images/ui-icons_222222_256x240.png?ln=primefaces-home") !important;
}
//TEXTO DEL MENSAJE DE REQUERIDO
label.ui-state-error  {
    color: #9e0505 !important;
    background:none !important;
    border: none !important;
}
// CUSTM STEPS
.ui-steps .ui-steps-item {
    width: $TamanioAnchoCustomSteps;
}
.ui-state-highlight {
    text-shadow: none !important;
}
.ui-steps.customSteps .ui-steps-item .ui-menuitem-link {
    height: 45px;
    padding: 0;
}
.ui-steps.customSteps .ui-steps-item .ui-steps-number {
    font-size:1.5em;
    display: inline-block;
    float: left;
    margin-left: 30px;
    line-height: 45px;
}
.ui-steps.customSteps .ui-steps-item .ui-steps-title {
    display: inline-block;
    white-space: nowrap;
    line-height: 45px;
    font-size:1em;
}
.ui-steps.customSteps  .ui-state-highlight{
    border: 1px solid #BBBFC2 !important;
}
.ui-steps.customSteps  .ui-state-highlight  .ui-steps-title,
.ui-steps.customSteps  .ui-state-highlight  .ui-steps-number
{
    color: black;
}
.ui-steps.customSteps .ui-steps-item a:before {
    content: "";
    width: 31px;
    height: 31px;
    background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
    background-image: -webkit-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: -o-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
    display: block;
    position: absolute;
    top: 6.5px;
    right: -14.5px;
    @include rotar(-45deg);
    z-index: 1;
    border-bottom: 1px solid #C2C6C9;
    border-right: 1px solid #C2C6C9;
}
.ui-steps.customSteps .ui-state-highlight a:before {
    content: "";
    width: 31px;
    height: 31px;
    @include degradadoStepsMenu(45deg,#565e6a,#767E8A,#979FAB);
    display: block;
    position: absolute;
    top: 6.5px;
    right: -14.5px;
    @include rotar(-45deg);
    z-index: 1;
    border-bottom: 1px solid #C2C6C9;
    border-right: 1px solid #C2C6C9;
}
.ui-steps.customSteps .ui-steps-item a, .ui-steps-item a:visited {
    width: 100%;
    color: #717171;
    line-height: 43px;
    white-space: nowrap;
    text-decoration: none;
    border-top-color: #dddddd;
    border-right: 0;
    background-color: #fbfbfb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
    background-image: -webkit-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: -o-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
    background-image: linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-steps.customSteps .ui-state-disabled {
    opacity: 1 !important;
}
.ui-steps.customSteps .ui-state-default {
    border: 1px solid #C2C6C9 !important;
}
.ui-steps.customSteps .ui-state-highlight .ui-steps-title,
.ui-steps.customSteps .ui-state-highlight .ui-steps-number {
    color: white !important;
    font-weight: bolder !important;
}
.ui-steps.customSteps .ui-state-highlight a {
    @include degradadoStepsMenu(0deg,#565e6a,#767E8A,#979FAB);
}
.ui-steps.customSteps .ui-state-highlight .ui-steps-item a:before {
    display: none !important;
}
.ui-steps.customSteps .ui-steps .ui-steps-title{
    margin-left: none !important;
}
// CUSTOM STEPS MODO TABS
.ui-steps.customStepsTabView li {
    margin-right: 2px !important;
    margin-left: 2px !important;
    border-bottom: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-left: 1px solid #bebebe !important;
    border-top: 1px solid #bebebe !important;
    border-right: 1px solid #bebebe !important;
}
.ui-steps.customStepsTabView .ui-state-highlight {
    background: #f2f1f1 !important;    
}
.ui-steps.customStepsTabView .ui-state-default {
    border: none !important;
    background: #d8d8d8 !important;
    opacity: 1 !important;
}
.ui-steps.customStepsTabView .ui-state-default:hover {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #bfbfbf !important;
    opacity: 1 !important;
}
.ui-steps.customStepsTabView .ui-state-default .ui-steps-title {
    color: #363636 !important;
}
.ui-steps.customStepsTabView .ui-steps-title {
    margin-left: auto !important;
}
.ui-steps.customStepsTabView .ui-steps-item {
    width: auto !important;
}
.ui-steps.customStepsTabView .ui-steps-number {
    display: none !important;
}
//ARREGLA ALTURA DE LOS ICONOS FA
.fa {
    line-height: 14px;
}
//ARREGLA LA POSICION DE UN TIMER EN UN KNOB
.pcontainer-knob {
    height: 130px;
    min-width: 130px;
}
.pcontainer-knob .ui-timer {
    background-color: initial !important;
    border: none !important;
    color: #424548 !important;
    position: absolute;
    margin-left: -108px;
    margin-top: 54px;
}
//DEGRADO DE LAS FILAS DE UNA TABLA CUANDO SE PASA EL MOUSE ENCIMA
.ui-datatable-selectable.ui-state-hover {
    background: #d25656 !important;
}
//color de la cabecera de los dialogos
.ui-dialog-titlebar.ui-widget-header {
    background: #9f5555 !important;
}
//fix responsive
input {
    width: 100%;
    box-sizing: border-box;
}
textarea {
    width: 100% !important;
    box-sizing: border-box;
}
.ui-selectonemenu {
    width:100% !important;
    box-sizing: border-box;
}
.ui-selectonemenu label{
    width: 100% !important;
}
span.ui-autocomplete {
    width: 100% !important;
    box-sizing: border-box;
}
//fileupload - 
.ui-fileupload .ui-widget-header,
.ui-fileupload .ui-widget-content {
  border: 0px !important;
  background: none !important;  
}

.panelObs {
  background-color: bisque;
  border: 0px;
  margin:0px;
}
.panelObs .ui-outputpanel{
  color: red;
  padding: 5px;
}

.labelLh25 {
    line-height: 25px;
}