//sombras para los botones de compartir
.plightshadow a > span {
    @include sombra(3px, 3px, 5px, rgba(122, 122, 122, 1),false);
}
@media screen and (max-width: 560px) {
    .poster {
        display: none !important;
    }
    .title {
        width: 95% !important;
    }
}
