html {
    font-family:  Arial, sans-serif;
}
.ui-widget,
.ptextoTamañoBase {
    font-size: $TamanioBaseLetraAntiguo !important;
    //font-size: $TamanioBaseLetra !important;
    text-rendering: optimizeLegibility;
}
.ptitle {
    font-size: 24px !important;
    //font-size: 1.6vw !important;
}
.pred{
    color: #972929 !important;
}
.pbold {
    font-weight: bolder !important;
}
.ptextGradient {
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
    -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
}
input, textarea {
    text-transform: uppercase
}
