html {
  font-family: Arial, sans-serif;
}

.ui-widget,
.ptextoTamañoBase {
  font-size: 12px !important;
  text-rendering: optimizeLegibility;
}

.ptitle {
  font-size: 24px !important;
}

.pred {
  color: #972929 !important;
}

.pbold {
  font-weight: bolder !important;
}

.ptextGradient {
  -webkit-mask-image: -webkit-linear-gradient(top, black, rgba(0, 0, 0, 0.5) 50%, black);
  -webkit-mask-image: linear-gradient(top, black, rgba(0, 0, 0, 0.5) 50%, black);
}

input, textarea {
  text-transform: uppercase;
}

html {
  /*   background-image: url(/sisdna-web/resources/imagen/fondo.jpg);*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width: initial;
  min-height: 100%;
}

.logosistema1 {
  display: inline-block;
  height: 50px;
  padding: 5px;
  margin-left: 20px;
}

.logosistema2 {
  display: inline-block;
  padding: 6px 10px 6px 10px;
  height: 48px;
}

.userico {
  background-image: url(/sisdna-web/resources/imagen/user.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 20px;
  margin-right: 10px;
  padding: 13px;
}

.user {
  height: 28px !important;
  -webkit-border-top-left-radius: 2em !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 2em !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 2em !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: none !important;
  border-right: none !important;
  margin-top: 20px !important;
  float: right;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D2323', endColorstr='#A52E2E') !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#7d2323), to(#a52e2e)) !important;
  background: -moz-linear-gradient(top, #7d2323, #a52e2e) !important;
  background: linear-gradient(to bottom, #7d2323 0%, #a52e2e 100%) !important;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4) !important;
}

.cabeceraContenedor {
  width: 100%;
  background: white;
  background-image: -o-linear-gradient(right top, white, #e5e5e5);
  background-image: -ms-linear-gradient(right top, white, #e5e5e5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e5e5e5));
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='$color2',GradientType=0 );
}

#nav form:hover a {
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) !important;
}

#nav form:hover .userico {
  -webkit-filter: brightness(0.25);
  filter: brightness(0.25);
}

body {
  margin: 0px !important;
  height: 100%;
  min-height: 100%;
}

.ui-layout-unit-content {
  background: none !important;
  padding: 0px !important;
}

.ui-layout-unit {
  background: none !important;
  padding: 0px !important;
}

.ui-layout-north, .ui-layout-south {
  border: none !important;
}

.ui-layout-resizer-north {
  z-index: initial !important;
}

#content {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.pfooter {
  z-index: 2;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 30px;
  opacity: 0.85;
  filter: alpha(opacity=85) !important;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: 1px solid #666666;
  text-shadow: 1px 1px 1px #333333;
  background: #aaaaaa;
  background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
  background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  -webkit-box-shadow: 0 -3px 5px rgba(102, 102, 102, 0.65);
  -moz-box-shadow: 0 -3px 5px rgba(102, 102, 102, 0.65);
  box-shadow: 0 -3px 5px rgba(102, 102, 102, 0.65);
}
.pfooter label {
  display: block;
  line-height: 30px;
  margin-right: 10px;
  font-size: 12px !important;
}

.loginform {
  width: 100%;
  max-width: 658px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: white;
}
.loginform img {
  width: 100%;
  max-width: 225px;
}
.loginform label, .loginform button, .loginform input {
  font-size: 19px !important;
}

span.ui-button-text.ui-c {
  min-width: 0px !important;
  min-height: 10px !important;
}

.ui-grid .ui-grid-row {
  /*margin-bottom: 4px !important;*/
}

.ui-grid-col-12 {
  overflow: hidden;
}

.ui-accordion .ui-accordion-content {
  border: 1px solid #a8a8a8 !important;
  margin-bottom: 10px !important;
}

.ui-dialog-content {
  overflow-x: hidden !important;
}

.ui-growl-item-container {
  position: relative !important;
  margin: 0 0 10px 0 !important;
  opacity: 0.85 !important;
  filter: alpha(opacity=85) !important;
  border: 1px solid #666666 !important;
  background: #aaaaaa !important;
  background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
  background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0))) !important;
  background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
  color: white !important;
  text-shadow: 1px 1px 1px #333333 !important;
}

.ui-state-highlight .ui-icon {
  background-image: url("/sisdna-web/faces/javax.faces.resource/images/ui-icons_222222_256x240.png?ln=primefaces-home") !important;
}

label.ui-state-error {
  color: #9e0505 !important;
  background: none !important;
  border: none !important;
}

.ui-steps .ui-steps-item {
  width: 19.8%;
}

.ui-state-highlight {
  text-shadow: none !important;
}

.ui-steps.customSteps .ui-steps-item .ui-menuitem-link {
  height: 45px;
  padding: 0;
}

.ui-steps.customSteps .ui-steps-item .ui-steps-number {
  font-size: 1.5em;
  display: inline-block;
  float: left;
  margin-left: 30px;
  line-height: 45px;
}

.ui-steps.customSteps .ui-steps-item .ui-steps-title {
  display: inline-block;
  white-space: nowrap;
  line-height: 45px;
  font-size: 1em;
}

.ui-steps.customSteps .ui-state-highlight {
  border: 1px solid #bbbfc2 !important;
}

.ui-steps.customSteps .ui-state-highlight .ui-steps-title,
.ui-steps.customSteps .ui-state-highlight .ui-steps-number {
  color: black;
}

.ui-steps.customSteps .ui-steps-item a:before {
  content: "";
  width: 31px;
  height: 31px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#fbfbfb), to(#e9e9e9));
  background-image: -webkit-linear-gradient(right top, #fbfbfb, #e9e9e9);
  background-image: -moz-linear-gradient(right top, #fbfbfb, #e9e9e9);
  background-image: -o-linear-gradient(right top, #fbfbfb, #e9e9e9);
  background-image: -ms-linear-gradient(right top, #fbfbfb, #e9e9e9);
  background-image: linear-gradient(right top, #fbfbfb, #e9e9e9);
  display: block;
  position: absolute;
  top: 6.5px;
  right: -14.5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
  border-bottom: 1px solid #c2c6c9;
  border-right: 1px solid #c2c6c9;
}

.ui-steps.customSteps .ui-state-highlight a:before {
  content: "";
  width: 31px;
  height: 31px;
  background: -moz-linear-gradient(45deg, #565e6a, #767e8a, #979fab);
  background: -webkit-linear-gradient(45deg, #565e6a, #767e8a, #979fab);
  background: linear-gradient(45deg, #565e6a, #767e8a, #979fab);
  display: block;
  position: absolute;
  top: 6.5px;
  right: -14.5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
  border-bottom: 1px solid #c2c6c9;
  border-right: 1px solid #c2c6c9;
}

.ui-steps.customSteps .ui-steps-item a, .ui-steps-item a:visited {
  width: 100%;
  color: #717171;
  line-height: 43px;
  white-space: nowrap;
  text-decoration: none;
  border-top-color: #dddddd;
  border-right: 0;
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e9e9e9);
  background-image: -o-linear-gradient(top, #fbfbfb, #e9e9e9);
  background-image: -ms-linear-gradient(top, #fbfbfb, #e9e9e9);
  background-image: linear-gradient(top, #fbfbfb, #e9e9e9);
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-steps.customSteps .ui-state-disabled {
  opacity: 1 !important;
}

.ui-steps.customSteps .ui-state-default {
  border: 1px solid #c2c6c9 !important;
}

.ui-steps.customSteps .ui-state-highlight .ui-steps-title,
.ui-steps.customSteps .ui-state-highlight .ui-steps-number {
  color: white !important;
  font-weight: bolder !important;
}

.ui-steps.customSteps .ui-state-highlight a {
  background: -moz-linear-gradient(0deg, #565e6a, #767e8a, #979fab);
  background: -webkit-linear-gradient(0deg, #565e6a, #767e8a, #979fab);
  background: linear-gradient(0deg, #565e6a, #767e8a, #979fab);
}

.ui-steps.customSteps .ui-state-highlight .ui-steps-item a:before {
  display: none !important;
}

.ui-steps.customSteps .ui-steps .ui-steps-title {
  margin-left: none !important;
}

.ui-steps.customStepsTabView li {
  margin-right: 2px !important;
  margin-left: 2px !important;
  border-bottom: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-left: 1px solid #bebebe !important;
  border-top: 1px solid #bebebe !important;
  border-right: 1px solid #bebebe !important;
}

.ui-steps.customStepsTabView .ui-state-highlight {
  background: #f2f1f1 !important;
}

.ui-steps.customStepsTabView .ui-state-default {
  border: none !important;
  background: #d8d8d8 !important;
  opacity: 1 !important;
}

.ui-steps.customStepsTabView .ui-state-default:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #bfbfbf !important;
  opacity: 1 !important;
}

.ui-steps.customStepsTabView .ui-state-default .ui-steps-title {
  color: #363636 !important;
}

.ui-steps.customStepsTabView .ui-steps-title {
  margin-left: auto !important;
}

.ui-steps.customStepsTabView .ui-steps-item {
  width: auto !important;
}

.ui-steps.customStepsTabView .ui-steps-number {
  display: none !important;
}

.fa {
  line-height: 14px;
}

.pcontainer-knob {
  height: 130px;
  min-width: 130px;
}

.pcontainer-knob .ui-timer {
  background-color: initial !important;
  border: none !important;
  color: #424548 !important;
  position: absolute;
  margin-left: -108px;
  margin-top: 54px;
}

.ui-datatable-selectable.ui-state-hover {
  background: #d25656 !important;
}

.ui-dialog-titlebar.ui-widget-header {
  background: #9f5555 !important;
}

input {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  width: 100% !important;
  box-sizing: border-box;
}

.ui-selectonemenu {
  width: 100% !important;
  box-sizing: border-box;
}

.ui-selectonemenu label {
  width: 100% !important;
}

span.ui-autocomplete {
  width: 100% !important;
  box-sizing: border-box;
}

.ui-fileupload .ui-widget-header,
.ui-fileupload .ui-widget-content {
  border: 0px !important;
  background: none !important;
}

.panelObs {
  background-color: bisque;
  border: 0px;
  margin: 0px;
}

.panelObs .ui-outputpanel {
  color: red;
  padding: 5px;
}

.labelLh25 {
  line-height: 25px;
}

.contentexport {
  display: inline-block;
}
.contentexport a {
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid #68727b;
  background: #68727b url("/sisdna-web/faces/javax.faces.resource/images/default.png?ln=primefaces-home") 50% 50% repeat-x;
  font-weight: normal;
  color: white !important;
  padding: 0.3em 1em 0.3em 2.1em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
}
.contentexport a > img {
  position: absolute;
  margin-left: -18px;
  margin-top: 2px;
}

.btnexportar {
  position: absolute;
  background-image: url("/sisdna-web/faces/javax.faces.resource/images/ui-icons_ededed_256x240.png?ln=primefaces-home");
  background-position: -30px -96px;
  height: 15px;
  width: 15px;
  margin-left: -20px;
  margin-top: -1px;
}

.plogout {
  margin-right: 6px !important;
  /*  @include bordeRadio(12px,12px,12px,12px,!important);*/
  background: transparent !important;
  border: 0px !important;
  padding: 4px !important;
}

.plogout.ui-state-hover {
  box-shadow: 0px;
  color: #000;
  border: 0px;
}

button:hover {
  border: 1px solid #a90329 !important;
  background: #a90329;
  background-image: -o-linear-gradient(right top, #a90329, #8f0222);
  background-image: -ms-linear-gradient(right top, #a90329, #8f0222);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#8f0222));
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%) !important;
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%) !important;
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='$color2',GradientType=0 ) !important;
  -webkit-box-shadow: 0px 0px 8px #b00b1e !important;
  -moz-box-shadow: 0px 0px 8px #b00b1e !important;
  box-shadow: 0px 0px 8px #b00b1e !important;
}

button:active, button:focus {
  background: #a90329 !important;
}

.colored {
  background-color: #d1d1d1 !important;
  color: #adadad !important;
}

.colored2 {
  background-color: #d1d1d1 !important;
  color: #adadad !important;
}
.colored2 button {
  display: none;
}
.colored2 .ui-row-toggler {
  display: none;
}

.fondonegro .ui-grid-row {
  background-color: #5a5a5a !important;
  margin-bottom: 0px !important;
}

.hidden-md {
  display: block !important;
}

.hidden-xs {
  display: block !important;
}

@media (min-width: 575px) {
  .hidden-md {
    display: none !important;
  }
}
@media (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }

  .card {
    border: 0px !important;
    padding: 0px;
  }
}
h2, h3 {
  margin: 0px;
}

.ui-growl {
  left: 50% !important;
  top: 30% !important;
  right: 0;
  margin-left: -150px;
}

#formularioEvaluarInscripcion\:dlAdjuntos_content,
#formularioPrincipal\3A dlAdjuntos_content {
  border: 0px !important;
  margin-left: 10px;
}

.dlgdna {
  max-width: 900px;
  position: fixed !important;
}

.dlgdna1 {
  max-width: 700px;
  position: fixed !important;
}

.dlgdna2 {
  max-width: 700px;
  position: fixed !important;
}

input, textarea {
  text-transform: none !important;
}

.ui-fieldset {
  padding: 0.6em 1em;
  margin: 0.6em 0;
}

.ui-fieldset-legend {
  background: #e0e0e0 !important;
  color: black !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
  background: #ffffff;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui-widget-content {
  background: #fafafa repeat-x scroll 0 0 !important;
}

.card {
  max-width: 1024px;
  border: 1px solid silver;
  padding: 24px;
  margin: auto;
}

.ui-button {
  padding: 8px !important;
  background: #a52e2e !important;
  /*#ef5350*/
  width: 100%;
}

.ui-state-default {
  background: none;
}

.ui-fileupload-buttonbar,
.ui-fileupload-content {
  /* float:left;*/
}

.ui-fileupload-buttonbar {
  padding: 0px !important;
  /*width:40% */
}

.ui-fileupload-content {
  /* width:60%*/
}

.ui-messages-error {
  margin: 0px !important;
}

.ui-datalist-content {
  border: 0px !important;
}

.ui-datalist-data {
  margin: 0px;
  padding: 0px;
  list-style-position: inside;
}

.ui-datalist-data .ui-datalist-item {
  margin: 6px 0;
}

.bclist li {
  display: inline;
  padding-right: 12px;
  padding-bottom: 12px;
}

.ui-fileupload-buttonbar .ui-button {
  padding: 4px !important;
}

.bcfoto .ui-fileupload-buttonbar,
.bcfoto .ui-fileupload-buttonbar .ui-button {
  width: 100%;
}

.bcfoto .ui-fileupload-buttonbar .ui-button {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.ui-widget {
  font-family: Arial, sans-serif !important;
}

.bcdocum .ui-datalist-data {
  list-style-position: outside;
  margin-left: 24px;
}

.bccursos .ui-datalist-data {
  list-style: none;
}

.bccursos .ui-datalist-item {
  padding: 12px;
}

.bccursos .bcurtitulo {
  font-size: 1.3em;
}

.bccursos .bcurfecha {
  font-size: 1.1em;
  font-weight: bold;
}

.bccursos li:nth-child(odd) {
  background: #fafafa;
}

.bccursos li:nth-child(even) {
  background: #fcefd4;
}

.bcregresar {
  color: #ef5350;
  text-decoration: none;
}

.l24 {
  line-height: 24px;
  text-align: justify;
}

.cabeceraContenedor h1 {
  font-size: 1.3em;
}

.ui-datatable .ui-button {
  padding: 4px !important;
}

.ui-datatable .ui-widget-header {
  background: #a0a0a0;
}

.ui-datatable th.ui-state-default {
  background: none;
}

.ui-messages {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -180px;
  z-index: 10000;
}

.my {
  text-transform: uppercase;
}

.ui-chkbox .ui-chkbox-label {
  display: inline !important;
}

.mensajeResReg {
  border: 1px solid #aaaaaa;
  padding: 24px;
  font-weight: bold;
  margin-top: 24px;
  font-size: 1.1em !important;
  text-align: justify;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  background-image: none;
  margin: 0 !important;
  padding: 0.5em !important;
}

.nopad {
  padding: 0 !important;
  margin: 0 !important;
}

.sback {
  text-decoration: none;
}

.sback span {
  color: #a52e2e;
}

.ui-widget-overlay {
  background: black !important;
  opacity: .30;
  filter: Alpha(Opacity=30);
}

.bcsuper .ui-datalist-data {
  list-style: none;
}

.bcsuper .ui-datalist-item {
  padding: 0px;
  margin: 0px;
}

.bcsuper .ui-datalist-content {
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
}

.bcsuper div {
  padding: 0px;
}

.bcsuper li:nth-child(odd) {
  background: #FFF;
}

.bcsuper li:nth-child(even) {
  background: #fcefd4;
}

.bcsuper label {
  display: none !important;
}

.bcsuper table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.bcsuper td {
  text-align: center !important;
}

.bcsuper td:not(:first-child) {
  border-left: 1px solid black !important;
}

.bOut {
  border-top: 1px solid black;
}

.bLeft {
  border-left: 1px solid black;
}

.pad8 {
  padding: 8px !important;
}

.m12 {
  margin: 12px 0px 12px 0px;
}

.guion {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 1000px) {
  .cabeceraContenedor h1 {
    font-size: 1.1em !important;
  }
}
@media (max-width: 850px) {
  .cabeceraContenedor h1 {
    font-size: 1em !important;
  }
}
.drtotal td {
  font-weight: bold;
}

.pshadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.pshadow2 {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75) 2px;
}

.pcenter {
  text-align: center;
}

.pleft {
  text-align: left;
}

.pright {
  text-align: right;
}

.poverflowH {
  overflow-y: hidden;
}

.poverflowW {
  overflow-x: hidden;
}

.pfloatR {
  float: right;
}

.pfloatL {
  float: left;
}

.pescondido {
  display: none !important;
}

.pmano {
  cursor: pointer;
  cursor: hand;
}

.pbold {
  font-weight: bold;
}

.pborder {
  box-sizing: border-box;
  border: 1px solid #c3c3c3;
}

.pnoborder > .ui-panelgrid-content {
  border: none !important;
}

.pnoradius {
  border-radius: 0px !important;
}

.pwithoutbackground > .ui-panelgrid-content {
  background-color: initial !important;
}

.pboxshadowinside {
  background-color: #ECECEC;
  margin-top: 10px;
  padding: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 6px black;
  -moz-box-shadow: inset 2px 2px 6px black;
  box-shadow: inset 2px 2px 6px black;
}

.pforzarHeader {
  border: 1px solid #68727b !important;
  background: #68727b url("/sisdna-web/faces/javax.faces.resource/images/default.png?ln=primefaces-home") 50% 50% repeat-x !important;
  font-weight: normal !important;
  color: white !important;
}

.pforzarTitle {
  border: 1px solid #56585c !important;
  background: #424548 !important;
  color: #f9f7f7 !important;
  font-weight: bold !important;
}

.pimgverticalmiddle {
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.preadOnly {
  background-color: #efefef !important;
}

.protar {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*.vjs-control.vjs-custom-button.btn-r {
    background-image: url(/sisdna-web/resources/plugin/videojs/reset.png);
background-repeat: no-repeat;
background-position: 10px;
background-size: 18px;
}
.vjs-control.vjs-custom-button.btn-s {
    background-image: url(/sisdna-web/resources/plugin/videojs/rewind.png);
background-repeat: no-repeat;
background-position: 10px;
background-size: 20px;
}
.vjs-control.vjs-custom-button.btn-share {
    background-image: url(/sisdna-web/resources/plugin/videojs/share.png);
background-repeat: no-repeat;
background-position: 10px;
background-size: 20px;
}
.btn-r,.btn-s,.btn-share {
    cursor: pointer;
}*/
.lock-top-1, .lock-body {
  background-color: red !important;
}

.plightshadow a > span {
  -webkit-box-shadow: 3px 3px 5px #7a7a7a;
  -moz-box-shadow: 3px 3px 5px #7a7a7a;
  box-shadow: 3px 3px 5px #7a7a7a;
}

@media screen and (max-width: 560px) {
  .poster {
    display: none !important;
  }

  .title {
    width: 95% !important;
  }
}
.ui-menu {
  border: 0px !important;
  padding: 0px 0px 0px 2px !important;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) !important;
  background: #A52E2E;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A52E2E', endColorstr='#7D2323') !important;
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a52e2e), to(#7d2323)) !important;
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #a52e2e, #7d2323) !important;
  /* for firefox 3.6+ */
  background: linear-gradient(to bottom, #a52e2e 0%, #7d2323 100%) !important;
  /* modern browsers */
  border-top-right-radius: 0px !important;
}

.ui-menu span {
  font-weight: bold;
  color: #e7e5e5 !important;
  font-size: 12px !important;
}

.ui-menu a {
  border-radius: 0px !important;
  border: 0px !important;
  padding: 0.6em !important;
}

.ui-icon-triangle-1-s {
  background-image: url("/sisdna-web/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-home") !important;
}

.ui-menu li > ul span {
  color: #444444 !important;
}

.ui-menu li > ul > li .ui-state-hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#ADADAD') !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#adadad)) !important;
  background: -moz-linear-gradient(top, #cfcfcf, #adadad) !important;
  background: linear-gradient(to bottom, #cfcfcf 0%, #adadad 100%) !important;
  /* modern browsers */
  text-shadow: none !important;
}

.ui-menu .ui-state-hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1') !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)) !important;
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1) !important;
  background: linear-gradient(to bottom, #ebebeb 0%, #a1a1a1 100%) !important;
  /* modern browsers */
  color: #444444 !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.ui-menu .ui-state-hover span {
  color: black !important;
}

.ui-menu .ui-state-hover .ui-icon-triangle-1-s {
  background-image: url("/sisdna-web/faces/javax.faces.resource/images/ui-icons_222222_256x240.png?ln=primefaces-home") !important;
}

.ui-menu button {
  margin-top: 2px;
}

.ui-menu .ui-state-hover span:hover {
  color: #444444 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) !important;
}

#north {
  z-index: 2 !important;
}

#north div {
  overflow: visible;
}

.ui-menu-child {
  margin-top: -5px !important;
}

.ui-menu-list {
  padding: 2px !important;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
  width: 90% !important;
}

html[xmlns] #nav {
  display: block;
}

#nav {
  height: 22px;
  margin: 0;
  padding: 7px 6px 0;
  line-height: 100%;
  border-radius: 0em;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background: #A52E2E;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A52E2E', endColorstr='#7D2323');
  background: -webkit-gradient(linear, left top, left bottom, from(#a52e2e), to(#7d2323));
  background: -moz-linear-gradient(top, #a52e2e, #7d2323);
  background: linear-gradient(to bottom, #a52e2e 0%, #7d2323 100%);
  border: solid 1px #6d6d6d;
  font-size: 130%;
  z-index: 500;
}

#nav li {
  z-index: 500;
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
  margin-top: -7px;
}

#nav a {
  font-weight: bold;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#nav .current a, #nav li:hover > a {
  background: #d1d1d1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1');
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1));
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
  background: linear-gradient(to bottom, #ebebeb 0%, #a1a1a1 100%);
  color: #444;
  border-top: solid 1px #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

#nav ul li:hover a, #nav li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#nav ul a:hover {
  background: #adadad !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#ADADAD');
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#adadad)) !important;
  background: -moz-linear-gradient(top, #cfcfcf, #adadad) !important;
  background: linear-gradient(to bottom, #cfcfcf 0%, #adadad 100%);
  color: white !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#nav ul {
  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cfcfcf));
  background: -moz-linear-gradient(top, white, #cfcfcf);
  background: linear-gradient(to bottom, white 0%, #cfcfcf 100%);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 32px;
  left: 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#nav li:hover > ul {
  display: block;
}

#nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}

#nav ul a {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

#nav ul ul {
  left: 181px;
  top: -3px;
}

#nav ul li:first-child > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}

#nav ul li:last-child > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}

#nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#nav {
  display: inline-block;
  font-size: 80%;
  font-family: Arial, sans-serif;
}

#nav form:hover {
  z-index: 9000;
  position: relative;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: #d1d1d1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1');
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1));
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
  background: linear-gradient(to bottom, #ebebeb 0%, #a1a1a1 100%);
  border-top: solid 1px #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 560px) {
  .user, .pimgverticalmiddle {
    display: none !important;
  }

  .logosistema1 {
    display: none !important;
  }

  .logosistema2 {
    width: 95% !important;
  }

  .ui-steps .ui-steps-item {
    width: 95% !important;
  }

  button {
    width: 100% !important;
  }

  .ui-datatable-data button {
    width: initial !important;
    min-width: 25px !important;
  }

  .vjs-big-play-button {
    width: 100px !important;
  }
}
.error404page {
  height: 800px;
}

.body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background: url(/sisdna-web/resources/imagen/personaje.png) 0 0 no-repeat;
  width: 200px;
  height: 200px;
}

.newcharacter404, .torso404, .body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background-size: 750px;
  position: absolute;
  display: block;
}

.newcharacter404 {
  width: 400px;
  height: 800px;
  left: 50%;
  top: 20px;
  margin-left: -200px;
}

.torso404 {
  position: absolute;
  display: block;
  top: 138px;
  left: 0px;
  width: 389px;
  height: 252px;
  animation: sway 5s ease infinite;
  transform-origin: 50% 100%;
}

.body404 {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 389px;
  height: 253px;
}

.head404 {
  position: absolute;
  top: -148px;
  left: 106px;
  width: 160px;
  height: 194px;
  background-position: 0px -265px;
  transform-origin: 50% 85%;
  animation: headTilt 5s ease infinite;
}

.eyes404 {
  position: absolute;
  top: 92px;
  left: 34px;
  width: 73px;
  height: 18px;
  background-position: -162px -350px;
  animation: blink404 10s steps(1) infinite, pan 10s ease-in-out infinite;
}

.leftarm404 {
  position: absolute;
  top: 159px;
  left: 0;
  width: 165px;
  height: 73px;
  background-position: -265px -341px;
  transform-origin: 9% 35%;
  transform: rotateZ(0deg);
  animation: typeLeft 0.4s linear infinite;
}

.rightarm404 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: 157px;
  height: 91px;
  background-position: -442px -323px;
  transform-origin: 90% 25%;
  animation: typeLeft 0.4s linear infinite;
}

.chair404 {
  position: absolute;
  top: 430px;
  left: 55px;
  width: 260px;
  height: 365px;
  background-position: -12px -697px;
}

.legs404 {
  position: absolute;
  top: 378px;
  left: 4px;
  width: 370px;
  height: 247px;
  background-position: -381px -443px;
}

.leftshoe404 {
  position: absolute;
  top: 591px;
  left: 54px;
  width: 130px;
  height: 92px;
  background-position: -315px -749px;
}

.rightshoe404 {
  position: absolute;
  top: 594px;
  left: 187px;
  width: 135px;
  height: 81px;
  background-position: -453px -749px;
  transform-origin: 35% 12%;
  animation: tapRight 1s linear infinite;
}

.laptop404 {
  position: absolute;
  top: 186px;
  left: 9px;
  width: 365px;
  height: 216px;
  background-position: -2px -466px;
  transform-origin: 50% 100%;
  animation: tapWobble 0.4s linear infinite;
}

@keyframes sway {
  0% {
    transform: rotateZ(0deg);
  }

  20% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(4deg);
  }

  45% {
    transform: rotateZ(4deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  70% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-4deg);
  }

  90% {
    transform: rotateZ(-4deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes headTilt {
  0% {
    transform: rotateZ(0deg);
  }

  20% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-4deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  38% {
    transform: rotateZ(2deg);
  }

  42% {
    transform: rotateZ(2deg);
  }

  45% {
    transform: rotateZ(-4deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  70% {
    transform: rotateZ(0deg);
  }

  82% {
    transform: rotateZ(0deg);
  }

  85% {
    transform: rotateZ(4deg);
  }

  90% {
    transform: rotateZ(4deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes typeLeft {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(7deg);
  }

  75% {
    transform: rotateZ(-6deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes typeRight {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-6deg);
  }

  75% {
    transform: rotateZ(7deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes tapWobble {
  0% {
    transform: rotateZ(-0.2deg);
  }

  50% {
    transform: rotateZ(0.2deg);
  }

  100% {
    transform: rotateZ(-0.2deg);
  }
}

@keyframes tapRight {
  0% {
    transform: rotateZ(0deg);
  }

  90% {
    transform: rotateZ(-6deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes blink404 {
  0% {
    background-position: -162px -350px;
  }

  94% {
    background-position: -162px -350px;
  }

  98% {
    background-position: -162px -368px;
  }

  100% {
    background-position: -162px -350px;
  }
}

@keyframes pan {
  0% {
    transform: translateX(-2px);
  }

  49% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  99% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}
